<div class="productos-container">
  <h1>Productos Disponibles</h1>
  
  <div class="row">
    <div class="col-md-4" *ngFor="let producto of Productos">
      <div class="card" >
        <img [src]="producto.imagen" class="card-img-top" alt="producto.nombre">
       <div class="card-body">
          <h5 class="card-title">{{ producto.nombre }}</h5>
          <p class="card-text">Precio: {{ producto.precio | currency }}</p>
          <p class="card-text">Tipo: {{ producto.tipo }}</p>
          <button (click)="verDetalle(producto.id)" class="btn btn-primary">Ver Detalle</button>
          
        </div>
      </div>
    </div>
  </div>
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h5>Sobre Nosotros</h5>
          <p>Ofrecemos una amplia gama de instrumentos musicales y accesorios de alta calidad. Nuestro objetivo es apoyar a músicos de todos los niveles con productos excepcionales y un excelente servicio al cliente.</p>
        </div>
        <div class="col-md-4">
          <h5>Enlaces Rápidos</h5>
          <ul class="list-unstyled">
            <li><a href="/home">Inicio</a></li>
            <li><a href="/productos">Productos</a></li>
            <li><a href="/nosotros">Nosotros</a></li>
            <li><a href="/contacto">Contacto</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h5>Contacto</h5>
          <ul class="list-unstyled">
            <li>Teléfono: +123 456 789</li>
         
            <li>Dirección: Calle Ficticia 123, Ciudad, País</li>
          </ul>
          <div class="social-media">
            <a href="#" class="btn btn-outline-light btn-sm"><i class="fab fa-facebook-f"></i></a>
            <a href="#" class="btn btn-outline-light btn-sm"><i class="fab fa-twitter"></i></a>
            <a href="#" class="btn btn-outline-light btn-sm"><i class="fab fa-instagram"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <p>&copy; 2024 Tu Empresa. Todos los derechos reservados.</p>
    </div>
  </footer>
  
</div>
