
<div class="nosotros-container">
    <section class="empresa-info">
      <h2>Historia de la Empresa</h2>
      <p>
        En el corazón de una pequeña ciudad, hace más de 30 años, un joven músico llamado Alejandro Martínez soñaba
         con un lugar donde todos los amantes de la música pudieran encontrar el instrumento perfecto para expresar su pasión.
          Con una pequeña tienda en la esquina de su calle, 
          comenzó a ofrecer instrumentos musicales de alta calidad y asesoramiento
           personalizado.

        A medida que la tienda ganaba popularidad, Alejandro se asoció con otros músicos y artesanos locales, 
        creando una red de expertos en la industria de la música. Su tienda, que comenzó como un humilde espacio,
         se convirtió en el epicentro de la vida musical de la ciudad. Con cada año que pasaba, la tienda creció, 
         expandiéndose a nuevas ubicaciones y diversificando
         su oferta para incluir una gama aún más amplia de instrumentos y accesorios.
        
        Hoy en día, nuestra empresa no solo es un destino para músicos de todas partes del país,
         sino también un símbolo de la dedicación y la pasión por la música.
          Nos enorgullece ofrecer un espacio donde los músicos pueden encontrar 
          inspiración y los mejores instrumentos para sus necesidades.</p>
      
      <h2>Misión</h2>
      <p>
        Nuestra misión es empoderar a músicos de todas las edades y
         niveles mediante la provisión de instrumentos musicales de alta calidad
          y un servicio excepcional.
          Nos comprometemos a ayudar a nuestros clientes a encontrar 
          el instrumento que mejor se adapte a sus necesidades y a apoyar su viaje
           musical con el mejor asesoramiento y servicio al cliente.
            Creemos en la música como una forma de expresión poderosa y
             queremos ser el puente que conecta a cada músico con su pasión.</p>
      
      <h2>Visión</h2>
      <p>
        Queremos ser la tienda de instrumentos musicales más confiable y reconocida a nivel nacional,
         conocida no solo por nuestra amplia gama de productos de alta calidad, 
         sino también por nuestro compromiso con la comunidad musical. Nuestra visión 
         es crear un legado de excelencia en la industria musical, expandir nuestra presencia globalmente 
         y seguir siendo el destino preferido para todos aquellos que buscan inspiración
          y calidad en el mundo de la música. </p>
    </section>
  
    <section class="equipo">
 
        <h2>Conoce a Nuestro Equipo</h2>
        <div class="card-container">
          <div class="card" >
            <img src="img2/ejecutivo1.png" class="d-block w-100" alt="Julian Martinéz">
            <div class="card-body">
              <h5 class="card-title">Julian Martinéz</h5>
              <p class="card-text">Posición del Ejecutivo 1. Breve descripción del rol y contribuciones al éxito de la empresa.</p>
            </div>
          </div>
        
          <div class="card">
            <img src="img2/ejecutivo2.jpeg" class="d-block w-100" alt="Roberto Dias">
            <div class="card-body">
              <h5 class="card-title">Roberto Dias</h5>
              <p class="card-text">Posición del Ejecutivo 2. Breve descripción del rol y contribuciones al éxito de la empresa.</p>
            </div>
          </div>
      </div>
      <footer class="footer">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <h5>Sobre Nosotros</h5>
              <p>Ofrecemos una amplia gama de instrumentos musicales y accesorios de alta calidad. Nuestro objetivo es apoyar a músicos de todos los niveles con productos excepcionales y un excelente servicio al cliente.</p>
            </div>
            <div class="col-md-4">
              <h5>Enlaces Rápidos</h5>
              <ul class="list-unstyled">
                <li><a href="/home">Inicio</a></li>
                <li><a href="/productos">Productos</a></li>
                <li><a href="/nosotros">Nosotros</a></li>
                <li><a href="/contacto">Contacto</a></li>
              </ul>
            </div>
            <div class="col-md-4">
              <h5>Contacto</h5>
              <ul class="list-unstyled">
                <li>Teléfono: +123 456 789</li>
                
                <li>Dirección: Calle Ficticia 123, Ciudad, País</li>
              </ul>
              <div class="social-media">
                <a href="#" class="btn btn-outline-light btn-sm"><i class="fab fa-facebook-f"></i></a>
                <a href="#" class="btn btn-outline-light btn-sm"><i class="fab fa-twitter"></i></a>
                <a href="#" class="btn btn-outline-light btn-sm"><i class="fab fa-instagram"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="footer-bottom">
          <p>&copy; 2024 Tu Empresa. Todos los derechos reservados.</p>
        </div>
      </footer>
      
    </section>
    
  </div>
  