.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center; /* Centra las tarjetas horizontalmente */
    padding: 1rem;
  }
  
  .card {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background-color: #fff;
    margin: 1rem;
    width: 18rem;
  }
  
  .card img {
    width: 100%; /* Asegura que la imagen ocupe todo el ancho de la tarjeta */
    height: auto; /* Mantiene la proporción de la imagen */
  }
  
  .card-body {
    padding: 1rem;
  }
  
  .card-title {
    margin-bottom: 0.5rem;
  }
  
  .card-text {
    color: #666;
  }
  .footer {
    background-color: #343a40;
    color: #ffffff;
    padding: 20px 0;
  }
  
  .footer .container {
    max-width: 1140px;
    margin: 0 auto;
  }
  
  .footer .row {
    margin-bottom: 20px;
  }
  
  .footer h5 {
    margin-bottom: 15px;
  }
  
  .footer ul {
    padding: 0;
    list-style: none;
  }
  
  .footer ul li {
    margin-bottom: 10px;
  }
  
  .footer ul li a {
    color: #ffffff;
    text-decoration: none;
  }
  
  .footer ul li a:hover {
    text-decoration: underline;
  }
  
  .social-media a {
    margin-right: 10px;
    color: #ffffff;
  }
  
  .footer-bottom {
    border-top: 1px solid #495057;
    padding-top: 10px;
    text-align: center;
  }
  
  