<h1>Ofertas Especiales</h1>
<div class="producto-detalle card mb-4 shadow-sm">
  <div class="card-body">
    <h2 class="card-title text-center">{{ producto?.nombre }}</h2>
    <img [src]="producto?.imagen" alt="producto?.nombre" class="img-fluid rounded mx-auto d-block my-3">
    <p class="card-text"><strong>Precio:</strong> {{ producto?.precio | currency:'USD':true }}</p>
    <p class="card-text"><strong>Tipo:</strong> {{ producto?.tipo }}</p>
    <div class="text-center">
      <button class="btn btn-success">Comprar</button>
    </div>
  </div>
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h5>Sobre Nosotros</h5>
          <p>Ofrecemos una amplia gama de instrumentos musicales y accesorios de alta calidad. Nuestro objetivo es apoyar a músicos de todos los niveles con productos excepcionales y un excelente servicio al cliente.</p>
        </div>
        <div class="col-md-4">
          <h5>Enlaces Rápidos</h5>
          <ul class="list-unstyled">
            <li><a href="/home">Inicio</a></li>
            <li><a href="/productos">Productos</a></li>
            <li><a href="/nosotros">Nosotros</a></li>
            <li><a href="/contacto">Contacto</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h5>Contacto</h5>
          <ul class="list-unstyled">
            <li>Teléfono: +123 456 789</li>
            
            <li>Dirección: Calle Ficticia 123, Ciudad, País</li>
          </ul>
          <div class="social-media">
            <a href="#" class="btn btn-outline-light btn-sm"><i class="fab fa-facebook-f"></i></a>
            <a href="#" class="btn btn-outline-light btn-sm"><i class="fab fa-twitter"></i></a>
            <a href="#" class="btn btn-outline-light btn-sm"><i class="fab fa-instagram"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <p>&copy; 2024 Tu Empresa. Todos los derechos reservados.</p>
    </div>
  </footer>
  
</div>